@import "variables";

// FORM STYLES
.form-row {
  display: flex;
  margin-bottom: 15px;
}
.form-label {
  flex: 1;
  margin-right: 15px;
  font-size: 14px;
  text-indent: 5px;
  input {
    width: 100%;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    border: 1px solid $lightGray;
  }
}

// MIXINS
@mixin button($padding, $color, $background, $border, $borderRadius: 0) {
  padding: $padding;
  color: $color;
  background: $background;
  border: $border;
  border-radius: $borderRadius;
  cursor: pointer;
  outline: none;
  &:active {
    transform: scale(1.1);
  }
}

// BUTTONS
.btn-default {
  @include button(5px, $blue, transparent, 1px solid $blue, 10px);
}

.btn-primary {
  @include button(5px, $white, $blue, none, 5px);
}
